input, select, textarea, button {
  font-family: sans-serif;
  font-size: 1em;
  display: block;
  background-color: #666;
  width:100%;
  margin-top: .2em;
  border-radius: 6px;
  min-height: 1.8em;
}

label {
  margin-top: 1em;
  color: aliceblue;
  display: block;
}

.Card-List {
  margin-top: 1.5em;
  display: flex;
  flex-direction: row;
}

.Card-Titulo {
  font-size: 1em;
  color: #f7c0e1;
  margin-top: 0em;
  font-weight: 400;
}

.Card-Especialidade {
  font-size: 0.8em;
}

.Card-Data-Hora {
  font-size: .6em;
}

.Card-List-Body {
  padding: .5em;
  border-width: .1em;
  border-style: solid;
  border-color: #791a4e;
  border-radius: 10px;
  background-color: #440e2c;
}

.Card-List-Body-Alternative {
  padding: .5em;
  border-width: .1em;
  border-style: solid;
  border-color: #791a4e;
  border-radius: 10px;
}

.Card-List-Date {
  padding: .5em;
  color: aqua;
  font-weight: 300;
}

.Card-bottom {
  width: 100%;
  align-self: center;
  text-align: center;
}

.Btn-Submit {
  margin-top: 1em;
  margin-left: 0.2em;
  min-height: 2.5em;
  background-color: #791a4e;
  border-color: #753f5d;
  color: aliceblue;
}

.App {
  text-align: left;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin-top: .2em;
}

.App-new-icon {
  padding: .4em;
  height: 2em;
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-top {
  background-color: #791a4e;
  min-height: 10vh;
  min-width: 100%;
  display: flex;
  flex-direction: row;
}

.App-top-title {
  align-self: center;
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: 300;
}

.App-content {
  background-color: #282c34;
  min-height: 80vh;
}

.App-bottom {
  background-color: #791a4e;
  min-height: 10vh;
  min-width: 100%;
  display: flex;
  flex-direction: row;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
