select:invalid,
input:invalid {
    box-shadow: 0 0 5px 1px red;
}

select:focus:invalid,
input:focus:invalid {
    box-shadow: none;
}

.Btn-Submit[disabled] {
    color: gray;
    background-color: darkgray;
    border-color: darkgray;
}